.chart {
  height: 500px;
  width: 960px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: black;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


